@page
@model ASPdemo.Pages.CategoryModel
@{
}
<h1>Top @Model.CategoryName Tokens</h1>
<style>
	tbody tr:nth-child(even) {
		background: #FFF;
		border: 0px;
		color: #000;
	}

	tbody tr:nth-child(odd) {
		background: #0d6efd;
		color: white;
	}
</style>
<table class="table">
	<thead>
		<th>
			Name
		</th>
		<th>
			Price
		</th> 
			<th>
			24h %
		</th>
			<th>
			7d %
		</th>
			<th>
			Market Cap
		</th>
	</thead>
	@if (Model.Currencies != null)
	{
		@if (Model.Currencies.Count != 0)
		{
			@foreach (Entities.Currency currency in Model.Currencies)
			{
				<tbody>
					<tr>
						<td><b>@currency.CurrencyName</b></td>
						@if (currency.Price == null)
						{
							<td>$0</td>
						}
						else
						{
							<td>$@currency.Price</td>
						}
						<td>@currency.PercentChange24Hr%</td>
						<td>@currency.PercentChange7d%</td>
						<td>@currency.MarketCap</td>
					</tr>
				</tbody>
			}
		}
	}
</table>