@page


@model ConversionsModel
@{
    var Pairs = new List<string>();
    var Conversions = new List<Entities.Conversion>(); 

    ViewData["Title"] = "Categories";

    try
    {
        Pairs = ViewData["Pairs"] as List<string>;
        Conversions = ViewData["Conversions"] as List<Entities.Conversion>; 
    }
    catch
    {
    }
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Lookup two prices at once.</h1> 
<style>
    tbody tr:nth-child(even) {
        background: gray;
        border: 0px;
        color: white;
    }

    tbody tr:nth-child(odd) {
        background: #0d6efd;
		color: white;
    }
</style>
<div class="text-center">
    <form method="post" style="margin-top:30px">
        <label style="font-weight:bold">First Coin:</label> 
        <select asp-for="@Model.search!.SearchTerm">
            @foreach (var item in Pairs)
            {
                <option value="@item">@item</option>
            }
        </select>
        <label style="font-weight:bold">Second Coin:</label>
        <select asp-for="@Model.search!.SecondTerm">
            @foreach (var item in Pairs)
            {
                <option value="@item">@item</option>
            }
        </select>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
<h1 style="color:green">Past Conversions</h1>
<table class="table">
    <thead>
    <th>
        Pair
    </th>
    <th>
        Price
    </th>
    <th>
        24hr %
    </th>
    <th>
        1hr %
    </th>
    <th>
        7d %
    </th> 
    </thead>
    <tbody>
        @if (Conversions != null)
        {
            @foreach (Entities.Conversion conversion in Conversions)
            {
                <tr>
                    <td><b>First Pair: </b>@conversion.Pair1</td>
                    <td>$@conversion.Price</td>
                    <td>@conversion.PercentChange24Hr%</td>
                    <td>@conversion.PercentChange1hr%</td>
                    <td>@conversion.PercentChange7d%</td>  
                </tr>
                <tr>
                    <td><b>Second Pair: </b>@conversion.Pair2</td>
                    <td>$@conversion.SecondPrice</td>
                    <td>@conversion.SecondPercentChange24Hr%</td>
                    <td>@conversion.SecondPercentChange1hr%</td>
                    <td>@conversion.SecondPercentChange7d%</td> 
                </tr>  
            }
        }
    </tbody>
</table>
@if (Conversions == null || Conversions.Count == 0)
{
    <h1 style="color: red">No conversions yet!</h1>
}