@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var skipId = ViewData["SkipId"];
    var skipPrevious = ViewData["SkipPrevious"];
    var url = "";
    var previousUrl = ""; 

    if (skipId != null)
    {
        int skipInt = Convert.ToInt16(skipId);
        int skipPreviousInt = 0;
        if (skipInt > 10)
        {
            skipPreviousInt = skipInt - 10;
        }
        skipInt = skipInt + 10; 
        url = "/?SkipId=" + skipInt;
        previousUrl = "/?SkipId=" + skipPreviousInt;
        previousUrl = "/?SkipId=" + skipPreviousInt;
    }
    else
    {
        url = "/?SkipId=" + 10;
    }
}
<h1>Today's Cryptocurrency Prices</h1>
@if (Model.Currency.Count == 0)
{
    <h1 style="color:red">
        No data? Go to the "add data" tab to add categories and currencies
    </h1>
}
<style>
    tbody tr:nth-child(even) {
        background: #FFF;
        border: 0px;
        color: #000;
    }

    tbody tr:nth-child(odd) {
        background: #0d6efd;
		color: white;
    }
</style>
<table class="table">
    <thead>
        <th>
              Name
        </th>
        <th>
            Price
        </th>
        <th>
            24hr %
        </th>
        <th>
            1hr %
        </th>
        <th>
            7d %
        </th>
        <th>
            Total Supply
        </th>
    </thead>
    @foreach (Entities.Currency currency in Model.Currency)
    {
        <tbody>
            <tr>
                <td><b>@currency.CurrencyName</b></td>
                @if (currency.Price != null)
                {
                    <td>$@currency.Price</td>
                }
                else
                {
                    <td>$0</td>
                }
                <td>@currency.PercentChange24Hr%</td>
                <td>@currency.PercentChange1hr%</td>
                <td>@currency.PercentChange7d%</td>
                <td>@currency.TotalSupply</td>
            </tr>

        </tbody>
    }
</table>

@if (Model.Currency != null)
{
    @if (Model.Currency.Count > 0)
    {
        <a href="@url" class="btn btn-primary">Next</a>
    }
    <a href="@previousUrl" class="btn btn-primary">Previous</a>
}


<h1>About Us: </h1>
<p>This is the Final Project Submission for IT3045C Contemporary Programming Group 1.</p>
<h1>Contributions:  </h1>
<h3>Special thanks to CoinMarketCap</h3>
<p>Provided sample data and a template by which we built many of our currency models</p>
<h3>Grant Rynders</h3>
<p>Developed bespoke user system using the framework of Microsoft.AspNetCore.Identity. Assisted in developing models for the database and application design.</p>
<h3>Cameron Gordon</h3>
<p>Developed the interface we used for interacting with, displaying, and querying all the data, which was crucial for developing every other system. Implemented a system that routinely fetches CoinMarketCap's data using Quartz.net. </p>
<h3>Parker Malott</h3>
<p>implemented user friendly UI for our currency addition/removal that works and pulls information from our Dataset and user information</p>
